body {
	background-color : #F5F5AF;
	font-family : Verdana, Sans-serif;
	font-size : 1.25em;
	color : #860404;
}

form {
    max-width : 400px;
}

article {
	max-width : 800px;
	line-height : 160%;
}

a {
	text-decoration : none;
}

